
{% form 'currency' %}
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            USD
        </button>
        <ul class="dropdown-menu">
            {% for currency in shop.enabled_currencies %}
                {% if currency == cart.currency %}
                    <li><a class="dropdown-item" href="#">{{currency.iso_code}}</a></li>
                {% else %}
                <li><a class="dropdown-item" href="#">{{currency.iso_code}}</a></li>
                {% endif %}
              {% endfor %}

        </ul>
    </div> 
  {% endform %}