


    <!-- Start Footer Top Area  -->
    <div class="footer-top">
        <div class="container">
            <div class="footer-widget-warp">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="axil-footer-widget footer-widget-newsletter">
                            <h4 class="widget-title">Stay Up To Date</h4>
                            <p>Subscribe to our newsletter and get <span>20% discount</span> offer in your first order</p>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter Your Email">
                                <button class="submit-btn" type="button">SUBSCRIBE</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="axil-footer-widget widget-flex">
                            <h6 class="widget-title">Shop</h6>
                            <div class="inner">
                                <ul>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="#">Delivery</a></li>
                                    <li><a href="about-us.html">Information</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="terms-of-service.html">Terms & Conditions</a></li>
                                    <li><a href="contact.html">Support Center</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="axil-footer-widget widget-flex">
                            <h6 class="widget-title">Company</h6>
                            <div class="inner">
                                <ul>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="#">Delivery</a></li>
                                    <li><a href="about-us.html">Information</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="terms-of-service.html">Terms & Conditions</a></li>
                                    <li><a href="contact.html">Support Center</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-widget-warp">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="axil-footer-widget widget-flex">
                            <h6 class="widget-title">About</h6>
                            <div class="inner">
                                <ul>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="#">Delivery</a></li>
                                    <li><a href="about-us.html">Information</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="terms-of-service.html">Terms & Conditions</a></li>
                                    <li><a href="contact.html">Support Center</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="axil-footer-widget widget-flex">
                            <h6 class="widget-title">Deal</h6>
                            <div class="inner">
                                <ul>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="#">Delivery</a></li>
                                    <li><a href="about-us.html">Information</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="terms-of-service.html">Terms & Conditions</a></li>
                                    <li><a href="contact.html">Support Center</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="axil-footer-widget widget-flex">
                            <h6 class="widget-title">Deal</h6>
                            <div class="inner">
                                <ul>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="#">Delivery</a></li>
                                    <li><a href="about-us.html">Information</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="terms-of-service.html">Terms & Conditions</a></li>
                                    <li><a href="contact.html">Support Center</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
