
   <!-- End Footer Top Area  -->
<div class="footer-middle">
<div class="container">
<div class="row">
    <div class="col-lg-8">
        <div class="payment-method">
            <h6 class="title">Accept <br> For</h6>
            <ul class="payment-icons">
                <li><img src="assets/images/icons/cart/cart-1.png" alt="paypal cart"></li>
                <li><img src="assets/images/icons/cart/cart-2.png" alt="paypal cart"></li>
                <li><img src="assets/images/icons/cart/cart-3.png" alt="paypal cart"></li>
                <li><img src="assets/images/icons/cart/cart-4.png" alt="paypal cart"></li>
                <li><img src="assets/images/icons/cart/cart-5.png" alt="paypal cart"></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="payment-method footer-social-link">
            <h6 class="title">Social <br> Network</h6>
            <ul class="social-link">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
<!-- Start Copyright Area  -->
<div class="copyright-area copyright-default">
    <div class="container">
        <div class="copyright-left d-flex flex-wrap justify-content-center">
            <ul class="quick-link">
                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                <li><a href="terms-of-service.html">Terms of Service</a></li>
            </ul>
            <ul class="quick-link">
                <li>© 2023. All rights reserved by <a target="_blank" href="https://axilthemes.com/">Axilthemes</a>.</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Copyright Area  -->