{% if section.settings.wishlist_enable %}
  <li class="wishlist">
    <a href="/wishlist">
      <i class="fal fa-heart"></i>
      <span class="wishlist-icon-num wishlist-icon-style"></span>
    </a>
  </li>
{% endif %}