<input type="search" class="placeholder product-search-input" name="search2" id="search2" value="" maxlength="128" placeholder="Search" autocomplete="off">
<button type="submit" class="icon wooc-btn-search">
    <i class="far fa-search"></i>
</button>