
{% if settings.header_top_enable %} 
    <div class="axil-header-top">
        <div class="container-fluid">
            <div class="row align-items-center"> 
                {% if settings.header_top_left %}  
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="header-top-text">
                            <p><i class="fas fa-star"></i> {{ settings.header_top_left }}</p>
                        </div>
                    </div>
                {% endif %} 
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="header-top-link">
                        <ul class="quick-link">
                            {% assign top_menu_handle = settings.header_top_right_menu %}
                            {% for link in linklists[top_menu_handle].links %}
                                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}