{% if section.settings.search_enable %}
  <li class="axil-search">
    <a href="#"
      class="header-search-icon"
      title="Search">
      <i class="fal fa-search"></i>
    </a>
  </li>
  {% endif %}