<div class="header-top-campaign">
    <div class="container position-relative">
        <div class="campaign-content">
            <p>Open Doors To A World Of Fashion <a href="#">Discover More</a></p>
        </div>
    </div>
    <button class="remove-campaign"><i class="fal fa-times"></i></button>
</div>