{% if section.settings.header_top_enable %} 
<div class="header-top-campaign">
    <div class="container position-relative">
        <div class="campaign-content">
            <p>{{ section.settings.header_top_center }}</p>
        </div>
    </div>
    <button class="remove-campaign"><i class="fal fa-times"></i></button>
</div>
{% endif %} 