
{% if section.settings.mini_cart_enable %}
  <a href="javascript:void(0)" class="cart-dropdown-btn">
    <span class="cart-count">{{ cart.item_count }}</span>
    <i class="fal fa-shopping-cart"></i>
  </a>
{% endif %}