<ul class="action-list">
    <li class="axil-search">
        {% render 'header-search-icon' %}
    </li>
    <li class="wishlist">
        {% render 'header-wishlist-icon' %}
    </li>
    <li class="shopping-cart">
        {% render 'header-cart-icon' %}
    </li> 
    <li class="my-account">
        {% render 'header-account-icon' %}
    </li>
    <li class="axil-mobile-toggle"> 
        {% render 'header-mobile-nav-toggler' %} 
    </li>
</ul>