
<div class="axil-header-top">
    <div class="container-fluid">
        <div class="row align-items-center">
            {% if section.settings.header_top_left %}  
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="header-top-text">
                        <p><i class="fas fa-star"></i> {{ section.settings.header_top_left }}</p>
                    </div>
                </div>
            {% endif %}
            <div class="col-lg-6 col-md-6 col-12">
                <div class="header-top-link">
                    <ul class="quick-link">
                    {% for top in linklists.header-top-menu.links %}  
                        <li>
                            <a href="{{ top.url }}">
                           {{ top.title }}
                            </a> 
                        </li> 
                    {% endfor %}   
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>