
<a href="#">
    <i class="far fa-user"></i>
</a>
<div class="my-account-dropdown">
    <span class="title">QUICKLINKS</span>
    <ul>
        <li>
            <a href="my-account.html">My Account</a>
        </li>
        <li>
            <a href="#">Initiate return</a>
        </li>
        <li>
            <a href="#">Support</a>
        </li>
        <li>
            <a href="#">Language</a>
        </li>
    </ul>
    <div class="login-btn">
        <a href="sign-in.html" class="axil-btn btn-bg-primary">Login</a>
    </div>
    <div class="reg-footer text-center">No account yet? <a href="sign-up.html" class="btn-link">REGISTER HERE.</a></div>
</div>
