
{% if section.settings.mini_cart_enable %}
  <li class="shopping-cart">
  <a href="#" class="cart-dropdown-btn">
    <span class="cart-count">{{ cart.item_count }}</span>
    <i class="fal fa-shopping-cart"></i>
  </a>
</li>
{% endif %}