<div class="dropdown">
    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        English
    </button>
    <ul class="dropdown-menu">
        
        <li>{%- for language in localization.available_languages -%}
            <button type="submit" name="locale_code" class="Popover__Value {% if language.iso_code == localization.language.iso_code %}is-selected{% endif %} Heading Link Link--primary u-h6" value="{{ language.iso_code }}" {% if language.iso_code == localization.language.iso_code %}aria-current="true"{% endif %}>
            {{- language.iso_code | capitalize -}}
            </button>
            {%- endfor -%}</li>
    </ul>
</div>

