{% paginate collections['all'].products by section.settings.product_per_page %}
  <div class="products axiltheme-archive-products row--15 row axiltheme-loadmore-wrapper">
    {% for product in collections['all'].products %}
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 product type-product post-1206 status-publish first instock product_cat-cleaner product_cat-kids product_cat-multipurpose product_tag-keyboard product_tag-mouse has-post-thumbnail sale taxable shipping-taxable purchasable product-type-simple">
        {% if product_layout == "1" %}
          {% render 'product-layout-1', product: product %}
        {% elsif product_layout == "2" %}
          {% render 'product-layout-2', product: product %}
        {% elsif product_layout == "3" %}
          {% render 'product-layout-3', product: product %}
        {% elsif product_layout == "4" %}
          {% render 'product-layout-4', product: product %}
        {% elsif product_layout == "5" %}
          {% render 'product-layout-5', product: product %}
        {% elsif product_layout == "6" %}
          {% render 'product-layout-6', product: product %}
        {% elsif product_layout == "7" %}
          {% render 'product-layout-7', product: product %}
        {% else %}
          {% render 'product-layout-8', product: product %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% render 'pagination', pagination: paginate %}
{% endpaginate %}