<li class="wishlist">
  <a
    href="#"
    data-product-handle="{{ product.handle }}"
    data-title-after="Added to Wishlist"
    class="axil-wishlist-icon axil-add-to-wishlist">
    <i class="wishlist-icon far fa-heart"></i>
    <i class="fas fa-spinner ajax-loading"></i>
  </a>
</li>