<div id="yith-quick-view-modal" class="modal">
  <div class="yith-quick-view-overlay"></div>
  <div class="yith-wcqv-wrapper" style="width: 1100px; height: 492px;">
    <div class="yith-wcqv-main">
      <div class="yith-wcqv-head">
        <a
          href="#"
          id="yith-quick-view-close"
          class="yith-wcqv-close">X</a>
      </div>
      <div id="yith-quick-view-content" class="woocommerce single-product">
        <div class="product">
          <div id="product-1158" class="product post-1158 type-product status-publish has-post-thumbnail product_cat-electronics product_cat-smartwatches product_cat-sports product_tag-keyboard product_tag-mouse pa_colors-blossom-pink pa_colors-spicy-mix pa_size-l pa_size-m pa_size-xl first instock sale featured taxable shipping-taxable purchasable product-type-simple">
            <div class="axil-single-product-area bg-color-white single-product-1">
              <div class="single-product-thumb mb--40">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6 mb--40">
                      <div class="row">

                        <div class="col-lg-12 axil-product-lable axil--with-images ">
                          <div class="product-large-thumbnail-pupup single-product-thumbnail axil-product slick-layout-wrapper--15 axil-slick-arrow arrow-both-side-3 slick-initialized slick-slider">
                            <div class="slick-list">
                              <div class="slick-track" style="opacity: 1; width: 527px; transform: translate3d(0px, 0px, 0px);">
                                <div
                                  class="woocommerce-product-gallery__image single-product-main-image slick-slide slick-current slick-active"
                                  data-slick-index="0"
                                  aria-hidden="false"
                                  style="width: 527px;"
                                  tabindex="0">
                                  <a
                                    class="venobox"
                                    title="phone"
                                    data-gall="wooc-lightbox"
                                    href="https://dev.axilthemes.com/themes/etrade/wp-content/uploads/2023/02/phone.jpg"
                                    tabindex="0"><img
                                      width="630"
                                      height="630"
                                      src="https://dev.axilthemes.com/themes/etrade/wp-content/uploads/2023/02/phone.jpg"
                                      class="attachment-shop_single size-shop_single wp-post-image"
                                      alt=""
                                      decoding="async"
                                      loading="lazy"></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mb--40">
                      <div class="single-product-content">
                        <div class="inner">
                          <h2 class="product-title product_title entry-title">Smart Mobile</h2>
                          <div class="woocommerce-product-rating product-rating">
                            <div class="axiltheme-star-rating">
                              <div
                                class="star-rating"
                                role="img"
                                aria-label="Rated 5.00 out of 5">
                                <span style="width:100%">Rated
                                  <strong class="rating">5.00</strong>
                                  out of 5 based on
                                  <span class="rating">1</span>
                                  customer rating</span>
                              </div>
                            </div>
                            <span class="woocommerce-review-link" rel="nofollow">(<span class="count">1</span>
                              customer review)</span>
                          </div>

                          <div class="price-wrp">
                            <p class="price-amount price-offer-amount">
                              <del aria-hidden="true">
                                <span class="woocommerce-Price-amount amount">
                                  <span class="woocommerce-Price-currencySymbol">$</span>299.00</span>
                              </del>
                              <ins>
                                <span class="woocommerce-Price-amount amount">
                                  <span class="woocommerce-Price-currencySymbol">$</span>199.00</span>
                              </ins>
                            </p>
                          </div>


                          <div class="product_meta">


                            <span class="sku_wrapper">SKU:
                              <span class="sku">LHH21</span>
                            </span>

                            <span class="posted_in">Categories:
                              <a href="https://dev.axilthemes.com/themes/etrade/product-category/electronics/" rel="tag">Electronics</a>,
                              <a href="https://dev.axilthemes.com/themes/etrade/product-category/electronics/smartwatches/" rel="tag">Smartwatches</a>,
                              <a href="https://dev.axilthemes.com/themes/etrade/product-category/electronics/sports/" rel="tag">Sports</a>
                            </span>
                            <span class="tagged_as">Tags:
                              <a href="https://dev.axilthemes.com/themes/etrade/product-tag/keyboard/" rel="tag">keyboard</a>,
                              <a href="https://dev.axilthemes.com/themes/etrade/product-tag/mouse/" rel="tag">Mouse</a>
                            </span>

                            <div class="product-social">
                              <span class="product-social-title">Share:</span>
                              <ul class="product-social-items">
                                <li class="social-facebook">
                                  <a
                                    href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fdev.axilthemes.com%2Fthemes%2Fetrade%2Fproduct%2Fsmart-mobile%2F"
                                    target="_blank"
                                    title="fa-facebook">
                                    <span class="fab fa-facebook"></span>
                                  </a>
                                </li>
                                <li class="social-twitter">
                                  <a
                                    href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fdev.axilthemes.com%2Fthemes%2Fetrade%2Fproduct%2Fsmart-mobile%2F&amp;text=Smart+Mobile:https%3A%2F%2Fdev.axilthemes.com%2Fthemes%2Fetrade%2Fproduct%2Fsmart-mobile%2F"
                                    target="_blank"
                                    title="fa-twitter">
                                    <span class="fab fa-twitter"></span>
                                  </a>
                                </li>
                                <li class="social-linkedin">
                                  <a
                                    href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fdev.axilthemes.com%2Fthemes%2Fetrade%2Fproduct%2Fsmart-mobile%2F&amp;title=Smart+Mobile"
                                    target="_blank"
                                    title="fa-linkedin">
                                    <span class="fab fa-linkedin"></span>
                                  </a>
                                </li>
                                <li class="social-pinterest">
                                  <a
                                    href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fdev.axilthemes.com%2Fthemes%2Fetrade%2Fproduct%2Fsmart-mobile%2F&amp;description=Smart+Mobile"
                                    target="_blank"
                                    title="fa-pinterest">
                                    <span class="fab fa-pinterest"></span>
                                  </a>
                                </li>
                                <li class="social-reddit">
                                  <a
                                    href="http://www.reddit.com/submit?url=https%3A%2F%2Fdev.axilthemes.com%2Fthemes%2Fetrade%2Fproduct%2Fsmart-mobile%2F&amp;title=Smart+Mobile"
                                    target="_blank"
                                    title="fa-reddit">
                                    <span class="fab fa-reddit"></span>
                                  </a>
                                </li>
                              </ul>
                            </div>

                          </div>

                          <div class="woocommerce-product-details__short-description">
                            <ul class="product-meta">
                              <li>
                                <i class="fal fa-check"></i>
                                In stock</li>
                              <li>
                                <i class="fal fa-check"></i>
                                Free delivery available</li>
                              <li>
                                <i class="fal fa-check"></i>
                                Sales 30% Off Use Code: MOTIVE30</li>
                            </ul>
                            <p class="description">In ornare lorem ut est dapibus, ut tincidunt nisi pretium. Integer ante est, hendrerit in rutrum quis, elementum eget magna. Pellentesque sagittis dictum libero, eu dignissim tellus.</p>
                          </div>


                          <form
                            class="cart"
                            action=""
                            method="post"
                            enctype="multipart/form-data">

                            <div class="product-action-wrapper d-flex-center quantity">
                              <label class="screen-reader-text" for="quantity_64df33a06fa6b">Smart Mobile quantity</label>
                              <div class="input-group-btn pro-qty mr--20">
                                <span class="qtybtn quantity-btn quantity-plus">+</span>
                                <input
                                  type="number"
                                  id="quantity_64df33a06fa6b"
                                  class="input-text qty text"
                                  step="1"
                                  min="1"
                                  max="999"
                                  name="quantity"
                                  value="1"
                                  title="Qty"
                                  placeholder=""
                                  inputmode="numeric">
                                <span class=" qtybtn quantity-btn quantity-minus">-</span>
                              </div>
                            </div>

                            <button
                              type="submit"
                              name="add-to-cart"
                              value="1158"
                              class="single_add_to_cart_button button alt">Add to cart</button>

                          </form>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  jQuery(function($) {
    quickview = function(product) {
      Shopify.getProduct(product);
      console.log(product.title);
    }
    Shopify.getProduct = function(product) {
      $('#yith-quick-view-modal .venobox').attr('href', product.featured_image);
      $('#yith-quick-view-modal .venobox img').attr('src', product.featured_image);
      $('#yith-quick-view-modal .product-title').text(product.title);
    }
  });
</script>