<div class="header-search-modal" id="header-search-modal">
    <button class="card-close sidebar-close"><i class="fas fa-times"></i></button>
    <div class="header-search-wrap">
        <div class="card-header">
            <form action="#">
                <div class="input-group">
                    <input type="search" class="form-control" name="prod-search" id="prod-search" placeholder="What are you looking for?">
                    <button type="submit" class="axil-btn btn-bg-primary"><i class="fal fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="search_input_loader loader1"></div>
        <div class="card-body search-results-body">
            <div class="recent-product">
                <div class="search-result-header">
                    <h6 class="title">Recent Product</h6>
                    <a href="https://dev.axilthemes.com/themes/etrade/shop/" class="view-all">View All</a>
                </div>
                <div class="psearch-results">                                 
                    <div class="axil-product-list">
                        <div class="thumbnail">
                            <a href="https://dev.axilthemes.com/themes/etrade/product/necklace-with-diamonds/">
                                <img width="150" height="150" src="https://dev.axilthemes.com/themes/etrade/wp-content/uploads/2023/02/16-2-1-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" decoding="async" srcset="https://dev.axilthemes.com/themes/etrade/wp-content/uploads/2023/02/16-2-1-150x150.jpg 150w, https://dev.axilthemes.com/themes/etrade/wp-content/uploads/2023/02/16-2-1-300x300.jpg 300w, https://dev.axilthemes.com/themes/etrade/wp-content/uploads/2023/02/16-2-1-60x60.jpg 60w, https://dev.axilthemes.com/themes/etrade/wp-content/uploads/2023/02/16-2-1-600x600.jpg 600w, https://dev.axilthemes.com/themes/etrade/wp-content/uploads/2023/02/16-2-1-100x100.jpg 100w, https://dev.axilthemes.com/themes/etrade/wp-content/uploads/2023/02/16-2-1.jpg 630w" sizes="(max-width: 150px) 100vw, 150px">		                </a>
                        </div>
                        <div class="product-content">
                            <div class="product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span>
                                </div>
                                <span class="rating-number">
                                    <span>1  +</span> Reviews  
                                </span>
                            </div>
                            <h6 class="product-title"><a href="https://dev.axilthemes.com/themes/etrade/product/necklace-with-diamonds/">Necklace with diamonds</a></h6>
                            <div class="product-price-variant">
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>212.00
                                </span>
                            </div>
                            <div class="product-cart add-to-cart">
                                <a rel="nofollow" data-tips="View products" title="View products" href="https://dev.axilthemes.com/themes/etrade/product/necklace-with-diamonds/" data-quantity="1" data-product_id="1740" data-product_sku="GUP1" class="cart-btn button non-wooc-toltp product_type_grouped"><i class="fal fa-shopping-cart"></i></a>
                                <a href="https://dev.axilthemes.com/themes/etrade/wishlist/" rel="nofollow" data-product-id="1740" data-title-after="Added to Wishlist" class="axil-wishlist-icon axil-add-to-wishlist" data-nonce="389fe6afdd" target="_blank">
                                <i class="wishlist-icon far fa-heart"></i>
                                <i class="fas fa-spinner ajax-loading"></i></a>
                            </div>
                        </div>
                    </div>
	          
                </div>
            </div>
        </div>
    </div>
</div>