<div class="col-xl-9 col-lg-9 col-12">
  <div class="main-content">
    <header class="woocommerce-products-header"></header>
    <div class="woocommerce-notices-wrapper"></div>
    <div class="axil-shop-top">
      <div class="row">
        <div class="col-12 ">
          <div class="category-select align-items-center justify-content-end">
            <p class="woocommerce-result-count filter-results">
              Showing 1–<span class="wc-last-result-count">18</span>
              of 106 results</p>
            <div class="sort-list">
              <form class="woocommerce-ordering" method="get">
                <select
                  name="orderby"
                  class="orderby"
                  aria-label="Shop order">
                  <option value="menu_order" selected="selected">Default sorting</option>
                  <option value="popularity">Sort by popularity</option>
                  <option value="rating">Sort by average rating</option>
                  <option value="date">Sort by latest</option>
                  <option value="price">Sort by price: low to high</option>
                  <option value="price-desc">Sort by price: high to low</option>
                </select>
                <input
                  type="hidden"
                  name="paged"
                  value="1">
              </form>
            </div>
          </div>
          <div class="d-lg-none">
            <button class="product-filter-mobile filter-toggle">
              <i class="fas fa-filter"></i>
              FILTER
            </button>
          </div>
        </div>
      </div>
    </div>
    {% render 'products-with-pagination' %}
    {% comment %} <div
    class="axiltheme-loadmore-data"
    data-paged="1"
    data-max="12"
    data-nonce="7d3eb43c49"></div>
    <div class="axiltheme-loadmore-btn-area text-center pt--30">
    <button class="axiltheme-loadmore-btn axil-btn btn-bg-lighter btn-load-more">
    <span class="axiltheme-loadmore-btn-text" style="">Load More</span>
    <span class="axiltheme-loadmore-btn-icon" style="display: none;">
    <i class="fa fa-spinner fa-spin"></i>
    </span>
    </button>
    </div> {% endcomment %}</div>
</div>