<div class="col-xl-9 col-lg-9 col-12">
  <div class="main-content">
    <header class="woocommerce-products-header"></header>
    <div class="woocommerce-notices-wrapper"></div>

    {% paginate collection.products by section.settings.product_per_page %}
      <div class="axil-shop-top">
        <div class="row">
          <div class="col-12 ">
            <div class="category-select align-items-center justify-content-end">
              <p class="woocommerce-result-count filter-results">
                Showing 1-<span class="wc-last-result-count">{{ section.settings.product_per_page }}</span>
                of {{ collections['all'].all_products_count }} results</p>
              <div class="sort-list">
                <form class="woocommerce-ordering" method="get">
                  <select
                    name="orderby"
                    class="orderby"
                    aria-label="Shop order">
                    <option value="menu_order" selected="selected">Default sorting</option>
                    <option value="popularity">Sort by popularity</option>
                    <option value="rating">Sort by average rating</option>
                    <option value="date">Sort by latest</option>
                    <option value="price">Sort by price: low to high</option>
                    <option value="price-desc">Sort by price: high to low</option>
                  </select>
                  <input
                    type="hidden"
                    name="paged"
                    value="1">
                </form>
              </div>
            </div>
            <div class="d-lg-none">
              <button class="product-filter-mobile filter-toggle">
                <i class="fas fa-filter"></i>
                FILTER
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="product-grid" class="products axiltheme-archive-products row axiltheme-loadmore-wrapper">
        {% for product in collection.products %}
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 product type-product post-1206 status-publish first instock product_cat-cleaner product_cat-kids product_cat-multipurpose product_tag-keyboard product_tag-mouse has-post-thumbnail sale taxable shipping-taxable purchasable product-type-simple">
            {% if product_layout == "1" %}
              {% render 'product-layout-1', product: product %}
            {% elsif product_layout == "2" %}
              {% render 'product-layout-2', product: product %}
            {% elsif product_layout == "3" %}
              {% render 'product-layout-3', product: product %}
            {% elsif product_layout == "4" %}
              {% render 'product-layout-4', product: product %}
            {% elsif product_layout == "5" %}
              {% render 'product-layout-5', product: product %}
            {% elsif product_layout == "6" %}
              {% render 'product-layout-6', product: product %}
            {% elsif product_layout == "7" %}
              {% render 'product-layout-7', product: product %}
            {% else %}
              {% render 'product-layout-8', product: product %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
      {% render 'pagination', pagination: paginate %}
    {% endpaginate %}

    {% comment %} <div
    class="axiltheme-loadmore-data"
    data-paged="1"
    data-max="12"
    data-nonce="7d3eb43c49"></div>
    <div class="axiltheme-loadmore-btn-area text-center pt--30">
    <button class="axiltheme-loadmore-btn axil-btn btn-bg-lighter btn-load-more">
    <span class="axiltheme-loadmore-btn-text" style="">Load More</span>
    <span class="axiltheme-loadmore-btn-icon" style="display: none;">
    <i class="fa fa-spinner fa-spin"></i>
    </span>
    </button>
    </div> {% endcomment %}
  </div>
</div>