<div class="col-lg-3">
  <div class="axil-shop-sidebar">
    <div class="d-lg-none">
      <button class="sidebar-close filter-close-btn">
        <i class="fas fa-times"></i>
      </button>
    </div>

    {% if section.settings.filter_by_category == true %}
      <div class="toggle-list product-categories widget woocommerce widget_product_categories">
        <h6 class="title">Product categories</h6>
        <div class="shop-submenu">
          <ul class="product-categories">
            {% for product_type in shop.types %}
              {% if product_type != '' %}
                {% assign product_types = product_type | split: ", " %}
                {% for type in product_types %}
                  <li class="cat-item cat-item-141">
                    <a href="https://dev.axilthemes.com/themes/etrade/product-category/deals/">{{ type }}</a>
                  </li>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}

    {% if section.settings.filter_by_gender == true %}
      <div id="woocommerce_layered_nav-6" class="toggle-list product-categories widget woocommerce widget_layered_nav woocommerce-widget-layered-nav">
        <h6 class="title">Filter by Gender</h6>
        <div class="shop-submenu">
          <ul class="woocommerce-widget-layered-nav-list">
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
              <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_gender=man">Man</a>
            </li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
              <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_gender=woman">Woman</a>
            </li>
          </ul>
        </div>
      </div>
    {% endif %}

    {% if section.settings.filter_by_size == true %}
      <div id="woocommerce_layered_nav-3" class="toggle-list product-categories widget woocommerce widget_layered_nav woocommerce-widget-layered-nav">
        <h6 class="title">Filter by Size</h6>
        <div class="shop-submenu">
          <ul class="woocommerce-widget-layered-nav-list">
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
              <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_size=s">S</a>
            </li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
              <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_size=m">M</a>
            </li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
              <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_size=l">L</a>
            </li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
              <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_size=xs">XS</a>
            </li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
              <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_size=xl">XL</a>
            </li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
              <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_size=xxl">XXL</a>
            </li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
              <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_size=3xl">3XL</a>
            </li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
              <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_size=4xl">4XL</a>
            </li>
          </ul>
        </div>
      </div>
    {% endif %}

    {% if section.settings.filter_by_color == true %}
      <div id="woocommerce_layered_nav-2" class="toggle-list product-categories widget woocommerce widget_layered_nav woocommerce-widget-layered-nav">
        <h6 class="title">Filter by Color</h6>
        <div class="shop-submenu">
          <ul class="woocommerce-widget-layered-nav-list">
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
              <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_colors=blossom-pink">
                <i style="background:#aae6f8;" class="wooc-pa-color wooc-pa-color-blossom-pink"></i>Blossom Pink</a>
            </li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
              <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_colors=naples-yellow">
                <i style="background:#5f8af7;" class="wooc-pa-color wooc-pa-color-naples-yellow"></i>Naples Yellow</a>
            </li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
              <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_colors=purple">
                <i style="background:#59c3c0;" class="wooc-pa-color wooc-pa-color-purple"></i>Purple</a>
            </li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
              <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_colors=single-blue">
                <i style="background:#243c5a;" class="wooc-pa-color wooc-pa-color-single-blue"></i>Single Blue</a>
            </li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
              <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_colors=spicy-mix">
                <i style="background:#906145;" class="wooc-pa-color wooc-pa-color-spicy-mix"></i>Spicy Mix</a>
            </li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
              <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_colors=venetian-red">
                <i style="background:#e6735c;" class="wooc-pa-color wooc-pa-color-venetian-red"></i>Venetian Red</a>
            </li>
          </ul>
        </div>
      </div>
    {% endif %}

    {% if section.settings.filter_by_price == true %}
      <div class="toggle-list product-categories widget woocommerce widget_price_filter">
        <h6 class="title">Filter by price</h6>
        <div class="shop-submenu">
          <form method="get" action="https://dev.axilthemes.com/themes/etrade/shop/">
            <div class="price_slider_wrapper">
              <div class="price_slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" style="">
                <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div>
                <span
                  tabindex="0"
                  class="ui-slider-handle ui-corner-all ui-state-default"
                  style="left: 0%;"></span>
                <span
                  tabindex="0"
                  class="ui-slider-handle ui-corner-all ui-state-default"
                  style="left: 100%;"></span>
              </div>
              <div class="price_slider_amount" data-step="10">
                <label class="screen-reader-text" for="min_price">Min price</label>
                <input
                  type="text"
                  id="min_price"
                  name="min_price"
                  value="10"
                  data-min="10"
                  placeholder="Min price"
                  style="display: none;">
                <label class="screen-reader-text" for="max_price">Max price</label>
                <input
                  type="text"
                  id="max_price"
                  name="max_price"
                  value="700"
                  data-max="700"
                  placeholder="Max price"
                  style="display: none;">
                <button type="submit" class="button">Filter</button>
                <div class="price_label" style="">
                  Price:
                  <span class="from">$10</span>
                  —
                  <span class="to">$700</span>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </form>

        </div>
      </div>
    {% endif %}
  </div>
</div>