<div class="axil-shop-area axil-section-gap bg-color-white">
  <div class="container">
    <div class="row">
      {% if section.settings.shop_layout == "full" %}
        {% render 'shop-full-width', product_layout: section.settings.product_layout %}
      {% else %}
        {% if section.settings.shop_layout == "left" %}
          {% render 'shop-sidebar' %}
        {% endif %}
        {% render 'shop-with-sidebar', product_layout: section.settings.product_layout %}
        {% if section.settings.shop_layout == "right" %}
          {% render 'shop-sidebar' %}
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Shop",
    "settings": [
      {
        "type": "select",
        "id": "shop_layout",
        "label": "Shop Layout",
        "options": [
          {
            "label": "Left Sidebar",
            "value": "left"
          }, {
            "label": "Right Sidebar",
            "value": "right"
          }, {
            "label": "No Sidebar",
            "value": "full"
          }
        ]
      },
      {
        "type": "select",
        "id": "product_layout",
        "label": "Product Collection Layout",
        "options": [
          {
            "label": "Layout 1",
            "value": "1"
          },
          {
            "label": "Layout 2",
            "value": "2"
          },
          {
            "label": "Layout 3",
            "value": "3"
          },
          {
            "label": "Layout 4",
            "value": "4"
          }, {
            "label": "Layout 5",
            "value": "5"
          }, {
            "label": "Layout 6",
            "value": "6"
          }, {
            "label": "Layout 7",
            "value": "7"
          }, {
            "label": "Layout 8",
            "value": "8"
          }
        ]
      },
      {
        "type": "range",
        "label": "Product Per Page",
        "id": "product_per_page",
        "default": 6,
        "min": 1,
        "max": 16,
        "step": 1
      },
      {
        "type": "select",
        "label": "Product Loading Style",
        "id": "loading_style",
        "options": [
          {
            "label": "Load More",
            "value": "load_more"
          }, {
            "label": "Infinite Scrolling",
            "value": "infinite"
          }, {
            "label": "Pagination",
            "value": "pagination"
          }
        ],
        "default": "load_more"
      }, {
        "type": "checkbox",
        "id": "filter_by_category",
        "label": "Filter by Category",
        "default": true
      }, {
        "type": "checkbox",
        "id": "filter_by_gender",
        "label": "Filter by Gender",
        "default": true
      }, {
        "type": "checkbox",
        "id": "filter_by_size",
        "label": "Filter by Size",
        "default": true
      }, {
        "type": "checkbox",
        "id": "filter_by_color",
        "label": "Filter by Color",
        "default": true
      }, {
        "type": "checkbox",
        "id": "filter_by_price",
        "label": "Filter by Price",
        "default": true
      }
    ]
  }
{% endschema %}