<div class="axil-section-gapTop bg-color-white">
<div class="container">
    <div class="axil-contact-page">
        <div class="row row--30">
            <div class="col-lg-8"> 
                <div class="contact-form">
                    {% if section.settings.title != blank %}
                        <h3 class="title mb--10">{{ section.settings.title }}</h3>
                    {% endif %}
                    {% if section.settings.sub_title != blank %}
                        <p>{{ section.settings.sub_title }}</p>
                    {% endif %}  
                    {% form 'contact' %} 
                        {% if form.errors %}  
                        <div class="border p-5">
                            <div class="flex flex-row items-center w-full my-3">
                                <div class="text-red-500">
                                    {% render 'icon-failed' %}
                                </div>
                                <div class="text-sm font-medium ml-3">
                                    Oh no! Your message is not sent
                                </div>
                            </div>
                            <ul class="px-4 mb-3 ml-7 list-decimal">
                                {% for error in form.errors %}
                                    <li>
                                        <span>{{ form.errors.messages[error] }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div> 
                        {% elsif form.posted_successfully? %}
                            <div class="flex flex-row items-center w-full my-3 p-5">
                                <div class="text-green-500">
                                    {% render 'icon-success' %}
                                </div>
                                <div class="text-sm font-medium ml-3">Your message is sent successfully</div>
                            </div>
                        {% endif %}
        
                    {{ form.errors | default_errors }}
                    <div class="axil-contact-form"> 

                    <div class="row row--10">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="first-name">First name <span>*</span></label>
                                <input type="text" name="contact[first_name]" id="first-name">
                            </div>
                        </div>  

                        <div class="col-lg-4">
                            <div class="form-group last-name">
                                <label for="last-name">Last name</label>
                                <input type="text" name="contact[last_name]" id="last-name" />
                            </div>
                        </div> 

                        <div class="col-lg-4">
                            <div class="form-group phone">
                                <label for="phone">Phone</label>
                                <input type="tel" name="contact[phone]" id="phone" />
                            </div>
                        </div> 

                        <div class="col-lg-6">
                            <div class="form-group email">
                            <label for="email">Email</label>
                            <input type="email" name="contact[email]" id="email" />
                            </div>
                        </div> 

                        <div class="col-lg-6">
                            <div class="form-group order-number">
                                <label for="order-number">Order number</label>
                                <input type="text" name="contact[order_number]" id="order-number" />
                            </div>
                        </div> 

                        <div class="col-lg-12">
                            <div class="form-group messageclass">
                                <label for="message">Message</label>
                                <textarea name="contact[body]" id="message"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group submit">
                                <input class="axil-btn btn-bg-primary" type="submit" value="Send Message" />
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    {% endform %} 
                    <div class="col-lg-4">
                        {% for block in section.blocks %}  
                        {% case block.type %}
                          {% when 'content_box' %}    
                        <div class="contact-location mb--40">
                            <h4 class="title mb--20">Our Store</h4>
                            <span class="address mb--20">8212 E. Glen Creek Street Orchard Park, NY 14127, United States of America</span>
                            <span class="phone">Phone: +123 456 7890</span>
                            <span class="email">Email: Hello@etrade.com</span>
                        </div>
                        {% endcase %} 
                    {% endfor %} 
 

                </div>
            </div>
        </div>
    </div>
    </div>
     
     
 
{% schema %}
{
    "name": "Contact Form & Address",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "We would love to hear from you."
        },
         {
            "type": "textarea",
            "id": "sub_title",
            "label": "Sub Title",
            "default": "If you’ve got great products your making or looking to work with us then drop us a line."
        } 
        
    ],

    "blocks": [
        {
            "type": "content_box",
            "name": "Content Box",
            "limit": 3,
            "settings": [
              
              {
                "type": "text",
                "id": "box_title",
                "default": "Our Store",
                "label": "Title"
              },
              {
                "type": "textarea",
                "id": "box_content1",
                "default": "Content 1",
                "label": "Content 1"
              } ,
              {
                "type": "textarea",
                "id": "box_content2",
                "default": "Content 2",
                "label": "Content 2"
              } 
            ]
          }
        ],
    "presets": [
        {
        "name": "Contact Form",
        "blocks": [
                {
                    "type": "content_box"
                }
            ]
        }
    ]
}
{% endschema %}