<footer id="section-{{ section.id }} class="footer axil-footer-area footer-style-2">
    {% include 'footer-top' %}
    {% include 'footer-bottom' %}
  </footer> 
    
    
    {% schema %}
      {
        "name": "Footer",
        "settings": [
            {
              "type": "checkbox",
              "id": "footer_enable",
              "label": "Footer Enable",
              "default": true
            },
            {
                "type": "radio",
                "id": "footer_style",
                "label": "Footer Style",
                "options":[
                  {
                      "value":"footer_style_1",
                      "label": "Style 1"
                  },
                  {
                      "value":"footer_style_2",
                      "label": "Style 2"
                  },
                  {
                      "value":"footer_style_3",
                      "label": "Style 3"
                  },
                  {
                      "value":"footer_style_4",
                      "label": "Style 4"
                  },
                  {
                      "value":"footer_style_5",
                      "label": "Style 5"
                  },
                  {
                      "value":"footer_style_6",
                      "label": "Style 6"
                  }
                ],
    
               "default": "footer_style_1"
            },
            {
              "type": "header",
              "content": "Footer Top"
            },
            {
              "type": "checkbox",
              "id": "footer_top_enable",
              "label": "Footer Top Enable",
              "default": true
            },
            {
              "type": "header",
              "content": "Section Padding"
            },
            {
              "type": "header",
              "content": "Large/Desktop Device"
            },
            {
              "type": "text",
              "id": "section_padding_top_1",
              "label": "Section Padding Top",
              "default": "4" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "text",
              "id": "section_padding_bottom_1",
              "label": "Section Padding Bottom",
              "default": "4" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "header",
              "content": "Tablet Device"
            },
            {
              "type": "text",
              "id": "section_padding_top_md_1",
              "label": "Section Padding Top",
              "default": "4" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "text",
              "id": "section_padding_bottom_md_1",
              "label": "Section Padding Bottom",
              "default": "4" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "header",
              "content": "Mobile Device"
            },
            {
              "type": "text",
              "id": "section_padding_top_xs_1",
              "label": "Section Padding Top",
              "default": "4" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "text",
              "id": "section_padding_bottom_xs_1",
              "label": "Section Padding Bottom",
              "default": "4" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "image_picker",
              "id": "footer_top_logo",
              "label": "Logo"
            },
            {
              "type": "header",
              "content": "Contact Information"
            },
            {
              "type": "header",
              "content": "Contact 1"
            },
            {
              "type": "text",
              "id": "contact_icon_1",
              "label": "Icon",
              "default": "phone",
              "info": "[See More Icon](https:\/\/fontawesome.com\/icons)"
            },
            {
              "type": "text",
              "id": "contact_ph_nubmer",
              "label": "Phone Number",
              "default": "(+612) 2531 5600"
            },
            {
              "type": "header",
              "content": "Contact 2"
            },
            {
              "type": "text",
              "id": "contact_icon_2",
              "label": "Icon",
              "default": "envelope",
              "info": "[See More Icon](https:\/\/fontawesome.com\/icons)"
            },
            {
              "type": "text",
              "id": "contact_email",
              "label": "Email",
              "default": "info@la-studioweb.com"
            },
            {
              "type": "header",
              "content": "Contact 3"
            },
            {
              "type": "text",
              "id": "contact_icon_3",
              "label": "Icon",
              "default": "map-marker",
              "info": "[See More Icon](https:\/\/fontawesome.com\/icons)"
            },
            {
              "type": "text",
              "id": "contact_address",
              "label": "Address",
              "default": "PO Box 1622 Colins Street West Victoria 8077 Australia"
            },
            {
              "type": "header",
              "content": "Footer Mid"
            },
            {
              "type": "checkbox",
              "id": "footer_mid_enable",
              "label": "Footer Mid Enable",
              "default": true
            },
            {
              "type": "header",
              "content": "Section Padding"
            },
            {
              "type": "header",
              "content": "Large/Desktop Device"
            },
            {
              "type": "text",
              "id": "section_padding_top_2",
              "label": "Section Padding Top",
              "default": "0" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "text",
              "id": "section_padding_bottom_2",
              "label": "Section Padding Bottom",
              "default": "0" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "header",
              "content": "Tablet Device"
            },
            {
              "type": "text",
              "id": "section_padding_top_md_2",
              "label": "Section Padding Top",
              "default": "0" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "text",
              "id": "section_padding_bottom_md_2",
              "label": "Section Padding Bottom",
              "default": "0" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "header",
              "content": "Mobile Device"
            },
            {
              "type": "text",
              "id": "section_padding_top_xs_2",
              "label": "Section Padding Top",
              "default": "0" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "text",
              "id": "section_padding_bottom_xs_2",
              "label": "Section Padding Bottom",
              "default": "0" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "header",
              "content": "Footer Bottom"
            },
            {
              "type": "checkbox",
              "id": "footer_bottom_enable",
              "label": "Footer Bottom Enable",
              "default": true
            },
            {
              "type": "header",
              "content": "Section Padding"
            },
            {
              "type": "header",
              "content": "Large/Desktop Device"
            },
            {
              "type": "text",
              "id": "section_padding_top_4",
              "label": "Section Padding Top",
              "default": "4" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "text",
              "id": "section_padding_bottom_4",
              "label": "Section Padding Bottom",
              "default": "4" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "header",
              "content": "Tablet Device"
            },
            {
              "type": "text",
              "id": "section_padding_top_md_4",
              "label": "Section Padding Top",
              "default": "4" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "text",
              "id": "section_padding_bottom_md_4",
              "label": "Section Padding Bottom",
              "default": "4" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "header",
              "content": "Mobile Device"
            },
            {
              "type": "text",
              "id": "section_padding_top_xs_4",
              "label": "Section Padding Top",
              "default": "4" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "text",
              "id": "section_padding_bottom_xs_4",
              "label": "Section Padding Bottom",
              "default": "4" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "header",
              "content": "Footer Bottom 2"
            },
            {
              "type": "checkbox",
              "id": "footer_bottom_enable_2",
              "label": "Footer Bottom Enable",
              "default": true
            },
            {
              "type": "header",
              "content": "Section Padding"
            },
            {
              "type": "header",
              "content": "Large/Desktop Device"
            },
            {
              "type": "text",
              "id": "section_padding_top_5",
              "label": "Section Padding Top",
              "default": "0" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "text",
              "id": "section_padding_bottom_5",
              "label": "Section Padding Bottom",
              "default": "0" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "header",
              "content": "Tablet Device"
            },
            {
              "type": "text",
              "id": "section_padding_top_md_5",
              "label": "Section Padding Top",
              "default": "0" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "text",
              "id": "section_padding_bottom_md_5",
              "label": "Section Padding Bottom",
              "default": "0" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "header",
              "content": "Mobile Device"
            },
            {
              "type": "text",
              "id": "section_padding_top_xs_5",
              "label": "Section Padding Top",
              "default": "0" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "text",
              "id": "section_padding_bottom_xs_5",
              "label": "Section Padding Bottom",
              "default": "0" ,
              "info": "Defined in rem. Do not add the 'pixels' unit."
            },
            {
              "type": "header",
              "content": "CopyRight"
            },
            {
              "type": "radio",
              "id": "text_style",
              "label": "Text Align",
              "options":[
                {
                  "value":"text_style_left",
                  "label": "Left"
                },
                {
                  "value":"text_style_center",
                  "label": "center"
                },
                {
                  "value":"text_style_right",
                  "label": "right"
                }
              ],
              "default": "text_style_center"
            },
            {
              "type": "richtext",
              "id": "copy_ritht_text",
              "label": "CopyRight Text",
              "default": "<p>Copyright © 99 Shopify All Right Reserved.</p>"
            },
            {
              "type": "text",
              "id": "newslatter_button_title",
              "label": "Newslatter Button Title",
              "default": "Subscribe !"
            },
            {
              "type": "link_list",
              "id": "footer_menu_bottom_handle",
              "label": "Select Menu"
            },
            {
              "type": "header",
              "content": "Social Area"
            },
            {
              "type": "header",
              "content": "Social 1"
            },
            {
              "type": "text",
              "id": "social_icon_1",
              "label": "Icon",
              "default": "twitter",
              "info": "[See More Icon](https:\/\/fontawesome.com\/icons)"
            },
            {
              "type": "url",
              "id": "social_icon_1_url",
              "label": "URL"
            },
            {
              "type": "header",
              "content": "Social 2"
            },
            {
              "type": "text",
              "id": "social_icon_2",
              "label": "Icon",
              "default": "google-plus",
              "info": "[See More Icon](https:\/\/fontawesome.com\/icons)"
            },
            {
              "type": "url",
              "id": "social_icon_2_url",
              "label": "URL"
            },
            {
              "type": "header",
              "content": "Social 3"
            },
            {
              "type": "text",
              "id": "social_icon_3",
              "label": "Icon",
              "default": "facebook",
              "info": "[See More Icon](https:\/\/fontawesome.com\/icons)"
            },
            {
              "type": "url",
              "id": "social_icon_3_url",
              "label": "URL"
            },
            {
              "type": "header",
              "content": "Social 4"
            },
            {
              "type": "text",
              "id": "social_icon_4",
              "label": "Icon",
              "default": "youtube",
              "info": "[See More Icon](https:\/\/fontawesome.com\/icons)"
            },
            {
              "type": "url",
              "id": "social_icon_4_url",
              "label": "URL"
            },
            {
              "type": "header",
              "content": "Social 5"
            },
            {
              "type": "text",
              "id": "social_icon_5",
              "label": "Icon",
              "default": "instagram",
              "info": "[See More Icon](https:\/\/fontawesome.com\/icons)"
            },
            {
              "type": "url",
              "id": "social_icon_5_url",
              "label": "URL"
            },
            {
              "type": "header",
              "content": "Payment Icon"
            },
            {
              "type": "image_picker",
              "id": "payment_logo_bottom",
              "label": "Payment Logo",
              "info": "Recommended Size: 470 x 33px"
            },
            {
               "type": "header",
               "content": "Color"
            },
            {
               "type": "color",
               "id": "bg_color_1",
               "label": "Top BG Color",
               "default": "#000000"
            },
            {
               "type": "color",
               "id": "bg_color_2",
               "label": "Mid BG Color",
               "default": "#000000"
            }, 
            {
               "type": "color",
               "id": "bg_color_3",
               "label": "Bottom BG Color",
               "default": "#000000"
            }, 
            {
               "type": "color",
               "id": "bg_color_4",
               "label": "Bottom 2 BG Color",
               "default": "#000000"
            },
            {
              "type": "color",
              "id": "service_border_right_color",
              "label": "Service Border Right Color",
              "default": "#3E3E3E"
            },
            {
               "type": "color",
               "id": "Copy_right_color",
               "label": "Copy Right Color",
               "default": "#8a8a8a"
            }, 
            {
               "type": "color",
               "id": "Copy_anchor_color",
               "label": "Copy Anchor Color",
               "default": "#8a8a8a"
            }, 
            {
               "type": "color",
               "id": "Copy_anchor_hover_color",
               "label": "Copy Anchor Hover Color",
               "default": "#cf987e"
            },
            {
               "type": "color",
               "id": "input_text_color",
               "label": "Input Text Color",
               "default": "#8a8a8a"
            }, 
            {
               "type": "color",
               "id": "input_border_color",
               "label": "Input Border Color",
               "default": "#a3a3a3"
            }, 
            {
               "type": "color",
               "id": "input_button_color",
               "label": "Input Button Text Color",
               "default": "#282828"
            }, 
            {
               "type": "color",
               "id": "input_button_hover_color",
               "label": "Input Button Text Hover Color",
               "default": "#cf987e"
            }, 
            {
               "type": "color",
               "id": "menu_color_2",
               "label": "Menu Color",
               "default": "#8a8a8a"
            }, 
            {
               "type": "color",
               "id": "menu_hover_color_2",
               "label": "Menu Hover Color",
               "default": "#cf987e"
            }, 
            {
              "type": "color",
              "id": "icon_color",
              "label": "Social Icon Color",
              "default": "#ffffff"
            }, 
            {
              "type": "color",
              "id": "icon_hover_color",
              "label": "Social Icon Hover Color",
              "default": "#ffffff"
            },
            {
              "type": "color",
              "id": "icon_2_color",
              "label": "Content Icon Color",
              "default": "#8a8a8a"
            }, 
            {
              "type": "color",
              "id": "content_2_color",
              "label": "Content Text Color",
              "default": "#8a8a8a"
            }
        ],
        "blocks":[
           {
              "type": "contact_about",
              "name": "Contact About",
              "settings": [
                     {
                        "type": "text",
                        "id": "footer_about_coloum",
                        "label": "Footer About Column Control",
                        "default": "3",
                        "info": "Follow Bootstrap Column"
                     },
                     {
                        "type": "header",
                        "content": "Footer Logo"
                     },
                     {
                        "type": "image_picker",
                        "id": "footer_logo",
                        "label": "Logo"
                     },
                     {
                          "type": "textarea",
                          "id": "address_descrption",
                          "label": "Address Description",
                          "default": "Integer ut ligula quis lectus fringilla elementum porttitor sed est. Duis fringilla efficitur ligula sed lobortis."
                     },
                     {
                        "type": "header",
                        "content": "Social Area"
                     },
                     {
                        "type": "header",
                        "content": "Social 1"
                     },
                     {
                        "type": "text",
                        "id": "social_icon_1",
                        "label": "Icon",
                        "default": "twitter",
                          "info": "[See More Icon](https:\/\/fontawesome.com\/icons)"
                     },
                     {
                        "type": "url",
                        "id": "social_icon_1_url",
                        "label": "URL"
                     },
                     {
                        "type": "header",
                        "content": "Social 2"
                     },
                     {
                        "type": "text",
                        "id": "social_icon_2",
                        "label": "Icon",
                        "default": "google-plus",
                          "info": "[See More Icon](https:\/\/fontawesome.com\/icons)"
                     },
                     {
                        "type": "url",
                        "id": "social_icon_2_url",
                        "label": "URL"
                     },
                     {
                        "type": "header",
                        "content": "Social 3"
                     },
                     {
                        "type": "text",
                        "id": "social_icon_3",
                        "label": "Icon",
                        "default": "facebook",
                          "info": "[See More Icon](https:\/\/fontawesome.com\/icons)"
                     },
                     {
                        "type": "url",
                        "id": "social_icon_3_url",
                        "label": "URL"
                     },
                     {
                        "type": "header",
                        "content": "Social 4"
                     },
                     {
                        "type": "text",
                        "id": "social_icon_4",
                        "label": "Icon",
                        "default": "youtube",
                          "info": "[See More Icon](https:\/\/fontawesome.com\/icons)"
                     },
                     {
                        "type": "url",
                        "id": "social_icon_4_url",
                        "label": "URL"
                     },
                     {
                        "type": "header",
                        "content": "Social 5"
                     },
                     {
                        "type": "text",
                        "id": "social_icon_5",
                        "label": "Icon",
                        "default": "instagram",
                          "info": "[See More Icon](https:\/\/fontawesome.com\/icons)"
                     },
                     {
                        "type": "url",
                        "id": "social_icon_5_url",
                        "label": "URL"
                     },
                     {
                        "type": "header",
                        "content": "Color"
                     }, 
                     {
                        "type": "color",
                        "id": "content_color",
                        "label": "Description Color",
                        "default": "#8a8a8a"
                     }, 
                     {
                        "type": "color",
                        "id": "icon_color",
                        "label": "Social Icon Color",
                        "default": "#ffffff"
                     }, 
                     {
                        "type": "color",
                        "id": "icon_hover_color",
                        "label": "Social Icon Hover Color",
                        "default": "#ffffff"
                     }
                     
                ]
           },
           {
                "type": "footer_menu",
                "name": "Menu",
                "settings": [
                      {
                        "type": "text",
                        "id": "footer_menu_coloum",
                        "label": "Menu Column Control",
                        "default": "2",
                        "info": "Follow Bootstrap Column"
                      },
                      {
                          "type": "text",
                          "id": "footer_menu_title",
                          "label": "Menu Title",
                          "default": "Company"
                      },
                      {
                          "type": "link_list",
                          "id": "footer_menu_handle",
                          "label": "Select Menu"
                      },
                      {
                         "type": "color",
                         "id": "title_color",
                         "label": "Title Color",
                         "default": "#ffffff"
                      }, 
                      {
                         "type": "color",
                         "id": "title_border_color",
                         "label": "Title Border Color",
                         "default": "#cf987e"
                      }, 
                      {
                         "type": "color",
                         "id": "menu_color",
                         "label": "Menu Color",
                         "default": "#8a8a8a"
                      }, 
                      {
                         "type": "color",
                         "id": "menu_hover_color",
                         "label": "Menu Hover Color",
                         "default": "#cf987e"
                      }
                    ]
           },
           {
              "type": "contact_information",
              "name": "Information",
              "settings": [
                     {
                        "type": "text",
                        "id": "contact_information_coloum",
                        "label": "Footer Info Column Control",
                        "default": "4",
                        "info": "Follow Bootstrap Column"
                     },
                     {
                          "type": "text",
                          "id": "footer_contact_title",
                          "label": "Contact Title",
                          "default": "CONTACT INFO"
                     },
                     {
                        "type": "header",
                        "content": "Contact Address"
                     },
                     {
                          "type": "text",
                          "id": "icon_title_1",
                          "label": "Icon",
                          "default": "fa-phone",
                          "info": "[See More Icon](https:\/\/fontawsome.com\/)"
                     },
                     {
                          "type": "textarea",
                          "id": "phone_number",
                          "label": "Phone Number",
                          "default": "(+612) 2531 5600"
                     },
                     {
                          "type": "text",
                          "id": "icon_title_2",
                          "label": "Icon",
                          "default": "fa-envelope",
                          "info": "[See More Icon](https:\/\/fontawsome.com\/)"
                     },
                     {
                          "type": "textarea",
                          "id": "email_address",
                          "label": "Email",
                          "default": "info@la-studioweb.com"
                     },
                     {
                          "type": "text",
                          "id": "icon_title_3",
                          "label": "Icon",
                          "default": "fa-map-marker",
                          "info": "[See More Icon](https:\/\/fontawsome.com\/)"
                     },
                     {
                          "type": "textarea",
                          "id": "address",
                          "label": "Address",
                          "default": "PO Box 1622 Colins Street West Victoria 8077 Australia"
                     },
                     {
                        "type": "header",
                        "content": "Payment Icon"
                     },
                     {
                          "type": "image_picker",
                          "id": "payment_logo",
                          "label": "Payment Logo",
                          "info": "Recommended Size: 470 x 33px"
                     },
                     {
                         "type": "color",
                         "id": "title_color",
                         "label": "Title Color",
                         "default": "#ffffff"
                     }, 
                     {
                         "type": "color",
                         "id": "title_border_color",
                         "label": "Title Border Color",
                         "default": "#cf987e"
                     },
                     {
                         "type": "color",
                         "id": "icon_2_color",
                         "label": "Content Icon Color",
                         "default": "#8a8a8a"
                     }, 
                     {
                         "type": "color",
                         "id": "content_2_color",
                         "label": "Content Text Color",
                         "default": "#8a8a8a"
                     }
                     
                ]
           },
           {
             "type": "service",
             "name": "Service",
             "settings": [
                {
                    "type": "text",
                    "id": "service_coloum",
                    "label": "Service Column",
                    "default": "3",
                    "info": "Follow Bootstrap Column"
                },
                {
                    "type": "text",
                    "id": "service_title",
                    "label": "Service Title",
                    "default": "FREESHIPPING WORLD WIDE"
                },
                {
                    "type": "textarea",
                    "id": "service_description",
                    "label": "Service Description",
                    "default": "Freeship over oder $100"
                },
                {
                   "type": "header",
                   "content": "Color"
                }, 
                {
                   "type": "color",
                   "id": "service_title_color",
                   "label": "Title Color",
                   "default": "#DFDFDF"
                }, 
                {
                   "type": "color",
                   "id": "service_description_color",
                   "label": "Description Color",
                   "default": "#8a8a8a"
                }
            ]
           },
           {
                "type": "footer_menu_2",
                "name": "Menu 2",
                "settings": [
                      {
                        "type": "text",
                        "id": "footer_menu_coloum_2",
                        "label": "Menu Column Control",
                        "default": "2",
                        "info": "Follow Bootstrap Column"
                      },
                      {
                          "type": "text",
                          "id": "footer_menu_title_2",
                          "label": "Menu Title",
                          "default": "Company"
                      },
                      {
                          "type": "link_list",
                          "id": "footer_menu_handle_2",
                          "label": "Select Menu"
                      },
                      {
                         "type": "header",
                         "content": "Color"
                      },
                      {
                         "type": "color",
                         "id": "title_color",
                         "label": "Title Color",
                         "default": "#ffffff"
                      }, 
                      {
                         "type": "color",
                         "id": "menu_color",
                         "label": "Menu Color",
                         "default": "#8a8a8a"
                      }, 
                      {
                         "type": "color",
                         "id": "menu_hover_color",
                         "label": "Menu Hover Color",
                         "default": "#cf987e"
                      }
                    ]
           },
           {
                "type": "newslatter_area",
                "name": "Newslatter",
                "settings": [
                      {
                        "type": "text",
                        "id": "newslatter_coloum",
                        "label": "Menu Column Control",
                        "default": "5",
                        "info": "Follow Bootstrap Column"
                      },
                      {
                          "type": "text",
                          "id": "newslatter_title",
                          "label": "Newslatter Title",
                          "default": "Subscribe now and get 10% off new collection"
                      },
                      {
                         "type": "header",
                         "content": "Color"
                      }, 
                      {
                         "type": "color",
                         "id": "newslatter_title_color",
                         "label": "Newslatter Title Color",
                         "default": "#282828"
                      },
                      {
                         "type": "color",
                         "id": "input_text_color",
                         "label": "Input Text Color",
                         "default": "#8a8a8a"
                      }, 
                      {
                         "type": "color",
                         "id": "input_border_color",
                         "label": "Input Border Color",
                         "default": "#a3a3a3"
                      }, 
                      {
                         "type": "color",
                         "id": "input_button_color",
                         "label": "Input Button Text Color",
                         "default": "#282828"
                      }, 
                      {
                         "type": "color",
                         "id": "input_button_hover_color",
                         "label": "Input Button Text Hover Color",
                         "default": "#cf987e"
                      }
                    ]
           },
           {
              "type": "section_padding",
              "name": "Section Padding",
              "limit": 1,
              "settings": [
                {
                  "type": "header",
                  "content": "Large/Desktop Device"
                },
                {
                  "type": "range",
                  "id": "section_padding_top",
                  "min": 0,
                  "max": 150,
                  "step": 5,
                  "label": "Padding Top",
                  "unit": "px",
                  "default": 0
                },
                {
                  "type": "range",
                  "id": "section_padding_bottom",
                  "min": 0,
                  "max": 150,
                  "step": 5,
                  "label": "Padding Bottom",
                  "unit": "px",
                  "default": 100
                },
                {
                  "type": "header",
                  "content": "Tablet Device"
                },
                {
                  "type": "range",
                  "id": "section_padding_top_md",
                  "min": 0,
                  "max": 150,
                  "step": 5,
                  "label": "Padding Top",
                  "unit": "px",
                  "default": 0
                },
                {
                  "type": "range",
                  "id": "section_padding_bottom_md",
                  "min": 0,
                  "max": 150,
                  "step": 5,
                  "label": "Padding Bottom",
                  "unit": "px",
                  "default": 80
                },
                {
                  "type": "header",
                  "content": "Mobile Device"
                },
                {
                  "type": "range",
                  "id": "section_padding_top_xs",
                  "min": 0,
                  "max": 150,
                  "step": 5,
                  "label": "Padding Top",
                  "unit": "px",
                  "default": 0
                },
                {
                  "type": "range",
                  "id": "section_padding_bottom_xs",
                  "min": 0,
                  "max": 150,
                  "step": 5,
                  "label": "Padding Bottom",
                  "unit": "px",
                  "default": 60
                }
              ]
           },
           {
              "type": "section_margin",
              "name": "Section Margin",
              "limit": 1,
              "settings": [
                {
                  "type": "header",
                  "content": "Large/Desktop Device"
                },
                {
                  "type": "range",
                  "id": "section_margin_top",
                  "min": 0,
                  "max": 150,
                  "step": 5,
                  "label": "Margin Top",
                  "unit": "px",
                  "default": 0
                },
                {
                  "type": "range",
                  "id": "section_margin_bottom",
                  "min": 0,
                  "max": 150,
                  "step": 5,
                  "label": "Margin Bottom",
                  "unit": "px",
                  "default": 0
                },
                {
                  "type": "header",
                  "content": "Tablet Device"
                },
                {
                  "type": "range",
                  "id": "section_margin_top_md",
                  "min": 0,
                  "max": 150,
                  "step": 5,
                  "label": "Margin Top",
                  "unit": "px",
                  "default": 0
                },
                {
                  "type": "range",
                  "id": "section_margin_bottom_md",
                  "min": 0,
                  "max": 150,
                  "step": 5,
                  "label": "Margin Bottom",
                  "unit": "px",
                  "default": 0
                },
                {
                  "type": "header",
                  "content": "Mobile Device"
                },
                {
                  "type": "range",
                  "id": "section_margin_top_xs",
                  "min": 0,
                  "max": 150,
                  "step": 5,
                  "label": "Margin Top",
                  "unit": "px",
                  "default": 0
                },
                {
                  "type": "range",
                  "id": "section_margin_bottom_xs",
                  "min": 0,
                  "max": 150,
                  "step": 5,
                  "label": "Margin Bottom",
                  "unit": "px",
                  "default": 0
                }
              ]
           },
           {
              "type": "section_background",
              "name": "Section Background",
              "limit": 1,
              "settings": [
                {
                  "type": "image_picker",
                  "id": "section_bg_image",
                  "label": "BG Image"
                },
                {
                  "type": "color",
                  "id": "section_bg_color",
                  "label": "BG Color",
                  "default": "#ffffff"
                }
              ]
           }
        ]
      }
    {% endschema %}
 