<div class="axil-section-gap bg-color-white">
	<div class="container"> 
        {{ page.content }}   
    </div>
  </div> 
  
  {% schema %}
  {
    "name": "main-page",
    "tag": "div",
    "settings": [
      {
        "type": "header",
        "content": "section_padding"
      }
    ]
  }
  {% endschema %}
  