<div class="bg-color-white axil-section-gapcommon categrie-product-slider">
    <div class="container">
        <div class="slider-section-title section-title-border">
            <h2 class="title">Featured Categories</h2>
        </div>
        <div class="categrie-product-activation-4 slick-layout-wrapper--15 axil-slick-angle angle-top-slide">
            <div class="slick-single-layout">
                <div class="row row-cols-lg-5 row-cols-sm-3 row-cols-2">
                    {% for collection in featured_cat_collection %}
                        {% if collection.all_products_count > 0 %}
                            <div class="w-full py-6 px-3">
                                <div class="border bg-white overflow-hidden">
                                    <a href="{{ collection.url }}">
                                        <div class="h-80 overflow-hidden">

                                            {%- if collection.image -%}
                                                {%- assign collection_image = collection.image -%}
                                              {%- elsif collection.products.first and collection.products.first.images != empty -%}
                                                {%- assign collection_image = collection.products.first.featured_image -%}
                                              {%- else -%}
                                                {%- assign collection_image = blank -%}
                                              {%- endif -%}

                                              

                                            {% if collection.featured_image != blank %}
                                                {% assign collection_image = collection.featured_image %}
                                            {% else %}
                                                {% assign collection_image = collection.products.first.image %}
                                            {% endif %}
        
                                            <img class="w-full h-full object-cover transition duration-1000 ease-in-out transform hover:scale-105" src="{{ collection_image | img_url: 'medium' }}" alt="{{ collection.title | escape }}">
                                        </div>
                                    </a>
        
                                    <div class="p-4 bg-gray-100">
                                        <h1 class="text-xl">{{ collection.title }}</h1>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                       
                  

                  
                </div>
            </div>
          
        </div>
    </div>
</div>
<!-- End Categorie Area  -->



{% schema %}
{
    "name": "Multi Collection",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Multi Collection",
            "label": "Title"
        },
        {
            "type": "collection_list",
            "id": "featured_cat_collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "number_of_products_to_show",
            "min": 4,
            "max": 12,
            "default": 4,
            "label": "Number of products to show"
        }
    ],
    "presets": [
        {
            "name": "Multi Collection"
        }
    ]
}
{% endschema %}