 <!-- Start Categorie Area  -->
 <div class="bg-color-white axil-section-gapcommon">
    <div class="container">
        <div class="slider-section-title section-title-border">
            <h2 class="title">Featured Categories</h2>
        </div>
        <div class="categrie-product-activation-4 slick-layout-wrapper--15 axil-slick-angle angle-top-slide">
            <div class="slick-single-layout">
                <div class="row row-cols-lg-5 row-cols-sm-3 row-cols-2">
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/women.png" alt="product categorie">
                                <h5 class="cat-title">Women's</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/men.png" alt="product categorie">
                                <h5 class="cat-title">Men's</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/kid.png" alt="product categorie">
                                <h5 class="cat-title">Kid's</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/baby.png" alt="product categorie">
                                <h5 class="cat-title">Baby</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/garden.png" alt="product categorie">
                                <h5 class="cat-title">Garden</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/beauty.png" alt="product categorie">
                                <h5 class="cat-title">Beauty</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/toy.png" alt="product categorie">
                                <h5 class="cat-title">Toys</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/phone.png" alt="product categorie">
                                <h5 class="cat-title">Phone</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/pet.png" alt="product categorie">
                                <h5 class="cat-title">Pets</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/cleaner.png" alt="product categorie">
                                <h5 class="cat-title">Cleaner</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slick-single-layout">
                <div class="row row-cols-lg-5 row-cols-sm-3 row-cols-2">
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/women.png" alt="product categorie">
                                <h5 class="cat-title">Women's</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/men.png" alt="product categorie">
                                <h5 class="cat-title">Men's</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/kid.png" alt="product categorie">
                                <h5 class="cat-title">Kid's</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/baby.png" alt="product categorie">
                                <h5 class="cat-title">Baby</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/garden.png" alt="product categorie">
                                <h5 class="cat-title">Garden</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/beauty.png" alt="product categorie">
                                <h5 class="cat-title">Beauty</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/toy.png" alt="product categorie">
                                <h5 class="cat-title">Toys</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/phone.png" alt="product categorie">
                                <h5 class="cat-title">Phone</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/pet.png" alt="product categorie">
                                <h5 class="cat-title">Pets</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="categrie-product categrie-product-4" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="500">
                            <a href="shop-sidebar.html" class="cate-thumb">
                                <img src="./assets/images/product/categories/cleaner.png" alt="product categorie">
                                <h5 class="cat-title">Cleaner</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categorie Area  -->



{% schema %}
{
    "name": "Multi Collection",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Multi Collection",
            "label": "Title"
        },
        {
            "type": "collection",
            "id": "featured_collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "number_of_products_to_show",
            "min": 4,
            "max": 12,
            "default": 4,
            "label": "Number of products to show"
        }
    ],
    "presets": [
        {
            "name": "Multi Collection"
        }
    ]
}
{% endschema %}