<div id="mc_embed_shell" class="etrade-newsletter-wrapper bg_image bg_image--5">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup" class="newsletter-content">
        <span class="title-highlighter highlighter-primary2"><i class="fas fa-envelope-open"></i>Newsletter</span>
        <h2 class="title mb--40 mb_sm--30">Get weekly update</h2>
        <form action="https://axilweb.us21.list-manage.com/subscribe/post?u=d2a79986af90d180038dc91c6&amp;id=e71e328c72&amp;f_id=0015dce6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div id="mc_embed_signup_scroll" class="position-relative newsletter-inner mb--15">
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
            <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
        <div aria-hidden="true" style="position: absolute; left: -5000px;">
            /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
            <input type="text" name="b_d2a79986af90d180038dc91c6_e71e328c72" tabindex="-1" value="">
        </div>
            <div class="optionalParent">
                <div class="clear foot">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button has-spinner axil-btn" value="Subscribe"><span class="wpcf7-spinner"></span>
                </div>
            </div>
        </div>
    </form>
    </div>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</div>


{% comment %} <div class="etrade-newsletter-wrapper bg_image bg_image--5">
    <div class="newsletter-content">
        <span class="title-highlighter highlighter-primary2"><i class="fas fa-envelope-open"></i>Newsletter</span>
        <h2 class="title mb--40 mb_sm--30">Get weekly update</h2>
		           
        <div class="wpcf7 js" id="wpcf7-f1515-p33-o1" lang="en-US" dir="ltr">
            <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
            <form action="/themes/etrade/home2/#wpcf7-f1515-p33-o1" method="post" class="wpcf7-form init demo mailchimp-ext-0.5.69" aria-label="Contact form" novalidate="novalidate" data-status="init">
            <div class="input-group newsletter-form">
                <div class="position-relative newsletter-inner mb--15">
                    <p><span class="wpcf7-form-control-wrap" data-name="EMAIL"><input size="40" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Your email address" value="" type="email" name="EMAIL"></span>
                    </p>
                </div>
                <p><input class="wpcf7-form-control wpcf7-submit has-spinner axil-btn" type="submit" value="Subscribe"><span class="wpcf7-spinner"></span>
                </p>
            </div>
            <div class="wpcf7-response-output" aria-hidden="true"></div><p style="display: none !important"><span class="wpcf7-form-control-wrap referer-page"><input type="hidden" name="referer-page" value="https://dev.axilthemes.com/themes/etrade/" data-value="https://dev.axilthemes.com/themes/etrade/" class="wpcf7-form-control wpcf7-text referer-page" aria-invalid="false"></span></p>
            <!-- Chimpmatic extension by Renzo Johnson -->
            </form>
        </div>
    </div>
</div> {% endcomment %}

{% schema %}
    {
        "name": "Newsletter",
        "presets": [ { "name": "Newsletter"} ]
    }
{% endschema %}