<div class="main-wrapper">
  <div class="site-content-wrapper">
    <div class="axil-section-gap bg-color-white">
      <div class="container">
        <article id="post-12" class="post-12 page type-page status-publish hentry">
          <div class="entry-content">
            <form id="yith-wcwl-form"
              action="https://dev.axilthemes.com/themes/etrade/wishlist/view/0JHQVEWRR5I8/"
              method="post"
              class="woocommerce yith-wcwl-form wishlist-fragment">

              <!-- TITLE -->
              <div class="wishlist-title-container">
                <div class="wishlist-title wishlist-title-with-form">
                  <h2>My wishlist</h2>
                </div>
                <div class="hidden-title-form">
                  <input
                    type="text"
                    value="My wishlist"
                    name="wishlist_name">
                  <div class="edit-title-buttons">
                    <a
                      role="button"
                      href="#"
                      class="hide-title-form">
                      <i class="fa fa-remove"></i>
                    </a>
                    <a
                      role="button"
                      href="#"
                      class="save-title-form">
                      <i class="fa fa-check"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- WISHLIST TABLE -->
              <table
                class="table axil-product-table axil-wishlist-table shop_table cart wishlist_table wishlist_view traditional responsive  "
                data-pagination="no"
                data-per-page="5"
                data-page="1"
                data-id="69"
                data-token="0JHQVEWRR5I8">
                <thead>
                  <tr>
                    <th class="product-remove">
                      <span class="nobr"></span>
                    </th>

                    <th class="product-thumbnail"></th>

                    <th class="product-title">
                      <span class="nobr">
                        Product name
                      </span>
                    </th>

                    <th class="product-price">
                      <span class="nobr">
                        Unit price
                      </span>
                    </th>
                    <th class="product-stock-status">
                      <span class="nobr">
                        Stock status
                      </span>
                    </th>
                    <th class="product-add-to-cart">
                      <span class="nobr"></span>
                    </th>
                  </tr>
                </thead>
                <tbody class="wishlist-items-wrapper">
                  <tr id="yith-wcwl-row-1306" data-row-id="1306">
                    <td class="product-remove">
                      <div>
                        <a
                          href="https://dev.axilthemes.com/themes/etrade/wishlist/view/0JHQVEWRR5I8/?remove_from_wishlist=1306&amp;_wpnonce=b623be8ab7"
                          class="remove remove_from_wishlist"
                          title="Remove this product">×</a>
                      </div>
                    </td>

                    <td class="product-thumbnail">

                      <a href="https://dev.axilthemes.com/themes/etrade/product/calvin-klein-womens-solid-sheath-with-chiffon-bell-sleeves-dress-2/">
                        <img
                          width="300"
                          height="300"
                          src="https://dev.axilthemes.com/themes/etrade/wp-content/uploads/2023/02/Dress-300x300.png"
                          class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                          alt="">
                      </a>

                    </td>

                    <td class="product-title">
                      <h6>
                        <a href="https://dev.axilthemes.com/themes/etrade/product/calvin-klein-womens-solid-sheath-with-chiffon-bell-sleeves-dress-2/">
                          Calvin Klein womens Solid Sheath With Chiffon Bell Sleeves Dress
                        </a>
                      </h6>
                    </td>
                    <td class="product-price" data-title="Price">
                      <span class="woocommerce-Price-amount amount">
                        <span class="woocommerce-Price-currencySymbol">$</span>59.00</span>
                    </td>
                    <td class="product-stock-status" data-title="Status">
                      <span class="wishlist-in-stock">In Stock</span>
                    </td>
                    <td class="product-add-to-cart">
                      <!-- Date added -->
                      <!-- Add to cart button -->
                        <a
                        href="https://dev.axilthemes.com/themes/etrade/cart/?add-to-cart=1306&amp;remove_from_wishlist_after_add_to_cart=1306&amp;wishlist_id=69&amp;wishlist_token=0JHQVEWRR5I8"
                        data-quantity="1"
                        class="product_type_simple add_to_cart_button ajax_add_to_cart add_to_cart alt"
                        data-product_id="1306"
                        data-product_sku="CW1"
                        aria-label="Add “Calvin Klein womens Solid Sheath With Chiffon Bell Sleeves Dress” to your cart"
                        aria-describedby=""
                        rel="nofollow"> Add to cart</a>

                      <!-- Change wishlist -->

                      <!-- Remove from wishlist -->

                    </td>

                  </tr>
                  <tr id="yith-wcwl-row-1215" data-row-id="1215">

                    <td class="product-remove">
                      <div>
                        <a
                          href="https://dev.axilthemes.com/themes/etrade/wishlist/view/0JHQVEWRR5I8/?remove_from_wishlist=1215&amp;_wpnonce=b623be8ab7"
                          class="remove remove_from_wishlist"
                          title="Remove this product">×</a>
                      </div>
                    </td>

                    <td class="product-thumbnail">

                      <a href="https://dev.axilthemes.com/themes/etrade/product/calvin-klein-womens-solid-sheath-with-chiffon-bell-sleeves-dress/">
                        <img
                          width="300"
                          height="300"
                          src="https://dev.axilthemes.com/themes/etrade/wp-content/uploads/2023/02/black-dress-300x300.jpg"
                          class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                          alt="">
                      </a>

                    </td>

                    <td class="product-title">
                      <h6>
                        <a href="https://dev.axilthemes.com/themes/etrade/product/calvin-klein-womens-solid-sheath-with-chiffon-bell-sleeves-dress/">
                          Calvin Klein womens Solid Sheath With Chiffon Bell Sleeves Dress
                        </a>
                      </h6>


                    </td>

                    <td class="product-price" data-title="Price">

                      <span class="woocommerce-Price-amount amount">
                        <span class="woocommerce-Price-currencySymbol">$</span>19.00</span>
                    </td>


                    <td class="product-stock-status" data-title="Status">

                      <span class="wishlist-in-stock">In Stock</span>
                    </td>

                    <td class="product-add-to-cart">

                      <!-- Date added -->


                      <!-- Add to cart button -->
                        <a
                        href="https://dev.axilthemes.com/themes/etrade/cart/?add-to-cart=1215&amp;remove_from_wishlist_after_add_to_cart=1215&amp;wishlist_id=69&amp;wishlist_token=0JHQVEWRR5I8"
                        data-quantity="1"
                        class="product_type_simple add_to_cart_button ajax_add_to_cart add_to_cart alt"
                        data-product_id="1215"
                        data-product_sku="CK1"
                        aria-label="Add “Calvin Klein womens Solid Sheath With Chiffon Bell Sleeves Dress” to your cart"
                        aria-describedby=""
                        rel="nofollow"> Add to cart</a>

                      <!-- Change wishlist -->

                      <!-- Remove from wishlist -->

                    </td>

                  </tr>
                </tbody>

              </table>

              <div class="yith_wcwl_wishlist_footer"></div>

              <input
                type="hidden"
                id="yith_wcwl_edit_wishlist"
                name="yith_wcwl_edit_wishlist"
                value="16515f12ae"><input
                type="hidden"
                name="_wp_http_referer"
                value="/themes/etrade/wishlist/"> <input
                type="hidden"
                value="0JHQVEWRR5I8"
                name="wishlist_id"
                id="wishlist_id">


            </form>



          </div>
        </article>
      </div>
    </div>


    <div class="hover_overlay_content"></div>
  </div>
</div>