<div class="main-wrapper">
  <div class="site-content-wrapper">
    <div class="axil-section-gap bg-color-white">
      <div class="container">
        <article id="post-12" class="post-12 page type-page status-publish hentry">
          <div class="entry-content">
            <form id="yith-wcwl-form"
              action="https://dev.axilthemes.com/themes/etrade/wishlist/view/0JHQVEWRR5I8/"
              method="post"
              class="woocommerce yith-wcwl-form wishlist-fragment">

              <!-- TITLE -->
              <div class="wishlist-title-container">
                <div class="wishlist-title wishlist-title-with-form">
                  <h2>My wishlist</h2>
                </div>
                <div class="hidden-title-form">
                  <input
                    type="text"
                    value="My wishlist"
                    name="wishlist_name">
                  <div class="edit-title-buttons">
                    <a
                      role="button"
                      href="#"
                      class="hide-title-form">
                      <i class="fa fa-remove"></i>
                    </a>
                    <a
                      role="button"
                      href="#"
                      class="save-title-form">
                      <i class="fa fa-check"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- WISHLIST TABLE -->
              <table
                class="table axil-product-table axil-wishlist-table shop_table cart wishlist_table wishlist_view traditional responsive  "
                data-pagination="no"
                data-per-page="5"
                data-page="1"
                data-id="69"
                data-token="0JHQVEWRR5I8">
                <thead>
                  <tr>
                    <th class="product-remove">
                      <span class="nobr"></span>
                    </th>

                    <th class="product-thumbnail"></th>

                    <th class="product-title">
                      <span class="nobr">
                        Product name
                      </span>
                    </th>

                    <th class="product-price">
                      <span class="nobr">
                        Unit price
                      </span>
                    </th>
                    <th class="product-stock-status">
                      <span class="nobr">
                        Stock status
                      </span>
                    </th>
                    <th class="product-add-to-cart">
                      <span class="nobr"></span>
                    </th>
                  </tr>
                </thead>
                <tbody class="wishlist-items-wrapper"></tbody>

              </table>

              <div class="yith_wcwl_wishlist_footer"></div>

              <input
                type="hidden"
                id="yith_wcwl_edit_wishlist"
                name="yith_wcwl_edit_wishlist"
                value="16515f12ae"><input
                type="hidden"
                name="_wp_http_referer"
                value="/themes/etrade/wishlist/"> <input
                type="hidden"
                value="0JHQVEWRR5I8"
                name="wishlist_id"
                id="wishlist_id">


            </form>



          </div>
        </article>
      </div>
    </div>


    <div class="hover_overlay_content"></div>
  </div>
</div>