<div class="main-wrapper">
  <div class="site-content-wrapper">
    <div class="axil-section-gap bg-color-white">
      <div class="container">
        <article id="post-12" class="post-12 page type-page status-publish hentry">
          <div class="entry-content">
            <!-- TITLE -->
            <div class="wishlist-title-container">
              <div class="wishlist-title wishlist-title-with-form">
                <h2>My wishlist</h2>
              </div>
            </div>
            <!-- WISHLIST TABLE -->
            <table
              class="table axil-product-table axil-wishlist-table shop_table cart wishlist_table wishlist_view traditional responsive  "
              data-pagination="no"
              data-per-page="5"
              data-page="1"
              data-id="69"
              data-token="0JHQVEWRR5I8">
              <thead>
                <tr>
                  <th class="product-remove">
                    <span class="nobr"></span>
                  </th>

                  <th class="product-thumbnail"></th>

                  <th class="product-title">
                    <span class="nobr">
                      Product name
                    </span>
                  </th>

                  <th class="product-price">
                    <span class="nobr">
                      Unit price
                    </span>
                  </th>
                  <th class="product-stock-status">
                    <span class="nobr">
                      Stock status
                    </span>
                  </th>
                  <th class="product-add-to-cart">
                    <span class="nobr"></span>
                  </th>
                </tr>
              </thead>
              <tbody class="wishlist-items-wrapper">
                <tr>
                  <td colspan="6" class="wishlist-empty">No products added to the wishlist</td>
                </tr>
              </tbody>
            </table>
          </div>
        </article>
      </div>
    </div>
    <div class="hover_overlay_content"></div>
  </div>
</div>