<div class="container">
  <div class="section-title-wrapper section-title-border">
    {% if section.settings.title != blank %}
      <h2 class="title">{{ section.settings.title }}<img
          width="32"
          height="33"
          src="{{ 'title-icon.png' | asset_url }}"
          class="attachment-full size-full wp-image-234"
          alt=""
          decoding="async"
          loading="lazy">
      </h2>
    {% endif %}

    {% if section.settings.btn-label != blank %}
      <div class="view-btn">
        <a
          class="title-view-link"
          href="#"
          target="_self"
          rel="nofollow">{{ section.settings.btn-label }}</a>
      </div>
    {% endif %}

  </div>
  <div class="product-area pb--20 border-off style-8">
    <div class="row row--15">
      {% for product in section.settings.product_collection.products limit: section.settings.number_of_products_to_show %}
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
          {% render 'product' %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Product Collection",
        "label": "Title"
      }, {
        "type": "text",
        "id": "btn-label",
        "label": "View All Button Text"
      }, {
        "type": "collection",
        "id": "product_collection",
        "label": "Collection"
      }, {
        "type": "range",
        "id": "number_of_products_to_show",
        "min": 4,
        "max": 12,
        "step": 1,
        "default": 4,
        "label": "Number of products to show"
      }
    ],
    "presets": [
      {
        "name": "Product Collection"
      }
    ]
  }
{% endschema %}