<div class="container">
  <div class="section-title-wrapper section-title-border">
    {% if section.settings.title != blank %}
      <h2 class="title">{{ section.settings.title }}<img
          width="32"
          height="33"
          src="{{ 'title-icon.png' | asset_url }}"
          class="attachment-full size-full wp-image-234"
          alt=""
          decoding="async"
          loading="lazy">
      </h2>
    {% endif %}

    {% if section.settings.btn-label != blank %}
      <div class="view-btn">
        <a
          class="title-view-link"
          href="#"
          target="_self"
          rel="nofollow">{{ section.settings.btn-label }}</a>
      </div>
    {% endif %}

  </div>
  {% if section.settings.product-layout == '1' %}
    {% include 'prodcut-layout-1' %}
  {% elsif section.settings.product-layout == '2' %}
    {% include 'prodcut-layout-2' %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Product Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Product Collection",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "btn-label",
        "label": "View All Button Text"
      },
      {
        "type": "collection",
        "id": "product_collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "number_of_products_to_show",
        "min": 4,
        "max": 12,
        "step": 1,
        "default": 4,
        "label": "Number of products to show"
      }, {
        "type": "select",
        "id": "product-layout",
        "label": "Product Collection Layout",
        "options": [
          {
            "label": "Product Collection Layout 1",
            "value": "1"
          }, {
            "label": "Product Collection Layout 2",
            "value": "2"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Collection"
      }
    ]
  }
{% endschema %}