 
  <!-- Poster Countdown Area  -->
  <div class="axil-poster-countdown axilcoutdown">
    <div class="container">
        <div class="poster-countdown-wrap bg-lighter">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="poster-countdown-content">
                        <div class="section-title-wrapper">
                            <span class="title-highlighter highlighter-secondary"> <i class="fal fa-headphones-alt"></i> Don’t Miss!!</span>
                            <h2 class="title">Enhance Your Music Experience</h2>
                        </div>
 
                        <div data-time="2024-11-24 12:00" class="poster-countdown countdown mb--40"></div>
                        
                        <a href="#" class="axil-btn btn-bg-primary">Check it Out!</a>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6">
                    <div class="poster-countdown-thumbnail">
                      <img src="{% if section.settings.cta_img %}{{ section.settings.cd_img | img_url: '452x502' }}{% else %}http:\/\/via.placeholder.com\/452x502{% endif %}" alt="{{ section.settings.cd_img.alt }}"> 
                     
                        <div class="music-singnal">
                            <div class="item-circle circle-1"></div>
                            <div class="item-circle circle-2"></div>
                            <div class="item-circle circle-3"></div>
                            <div class="item-circle circle-4"></div>
                            <div class="item-circle circle-5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Poster Countdown Area  -->


{% schema %}
{
  "name": "Section CountDown",

  "settings": [
    {
      "type": "header",
      "content": "CountDown"
    },
    {
      "type": "text",
      "id": "cd_title",
      "default": "Enhance Your Music Experience",
      "label": "Title"
    }, 
    {
      "type": "text",
      "id": "cd_sub_title",
      "default": "Don't Miss!!",
      "label": "Sub Title"
    },
    {
      "type": "text",
      "id": "end_time",
      "label": "End date and time",
      "default": "30/05/2023 23:00:00",
      "info": "Format: dd/mm/yyyy hh:mm:ss"
    },
    {
      "type": "text",
      "id": "cd_btn_txt",
      "default": "Check it Out!",
      "label": "Button Text"
    }, 
    {
      "type": "url",
      "id": "cd_btn_url",
      "label": "URL"
    },
    {
      "type": "image_picker",
      "id": "cd_img",
      "label": "Box Image"
    }
   
  ],
  "presets": [
    {
      "name": "Section CountDown"
    }
  ]
}
{% endschema %} 