<div class="product-collection-area bg-lighter axil-section-gapcommon">
  <div class="container">

      <div class="section-title-border">
          <h2 class="title">Today’s Best Deals 💥</h2>
          <div class="view-btn"><a href="shop.html">View All Deals</a></div>
      </div>


      <div class="row">
          <div class="col-xl-7">
              <div class="product-collection product-collection-two">
                  <div class="collection-content">
                      <h3 class="title">Decorative Plant <br> For Home</h3>
                      <div class="price-warp">
                          <span class="price-text">Starting From</span>
                          <span class="price">$35.00</span>
                      </div>
                      <div class="shop-btn">
                          <a href="shop.html" class="axil-btn btn-bg-primary btn-size-md"><i class="far fa-shopping-cart"></i> View All Items</a>
                      </div>
                      <div class="plus-btn">
                          <a href="#" class="plus-icon"><i class="far fa-plus"></i></a>
                      </div>
                  </div>
                  <div class="collection-thumbnail">
                      <img src="assets/images/product/collection_5.jpg" alt="Mega Collection">
                  </div>
              </div>
          </div>
          <div class="col-xl-5">
              <div class="row">
                  <div class="col-md-6">
                      <div class="product-collection-three">
                          <div class="collection-content">
                              <h6 class="title"><a href="shop.html">Ladies Short Sleeve Dress</a></h6>
                              <div class="price-warp">
                                  <span class="price-text">Starting From</span>
                                  <span class="price">$30.00</span>
                              </div>
                          </div>
                          <div class="collection-thumbnail">
                              <img src="assets/images/product/collection_5.png" alt="Product">
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="product-collection-three">
                          <div class="collection-content">
                              <h6 class="title"><a href="shop.html">Oil Soap Wood Home Cleaner</a></h6>
                              <div class="price-warp">
                                  <span class="price-text">Starting From</span>
                                  <span class="price">$15.22</span>
                              </div>
                          </div>
                          <div class="collection-thumbnail">
                              <img src="assets/images/product/collection_6.png" alt="Product">
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="product-collection-three">
                          <div class="collection-content">
                              <h6 class="title"><a href="shop.html">Large Pendant Light Ceiling </a></h6>
                              <div class="price-warp">
                                  <span class="price-text">Starting From</span>
                                  <span class="price">$11.70</span>
                              </div>
                          </div>
                          <div class="collection-thumbnail">
                              <img src="assets/images/product/collection_7.png" alt="Product">
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="product-collection-three">
                          <div class="collection-content">
                              <h6 class="title"><a href="shop.html">Iphone New Model</a></h6>
                              <div class="price-warp">
                                  <span class="price-text">Starting From</span>
                                  <span class="price">$499.00</span>
                              </div>
                          </div>
                          <div class="collection-thumbnail">
                              <img src="assets/images/product/collection_8.png" alt="Product">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Start Expolre Product Area  -->

{% schema %}
{
    "name": "Section Best Deals",
    "settings": [
        {
            "type": "header",
            "content": "Section Title"
          },  
          
        {
            "type": "text",
            "id": "section_title",
            "default": "Life is More Than Sunglasses and Hit Movies. ",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "section_btn_txt",
            "label": "Button Text",
            "default": "View All Deals" 
          },
          {
            "type": "url",
            "id": "section_btn_url",
            "label": "URL"
          }


    ],

    "blocks": [
      {
        "type": "deals",
        "name": "Deals Block",
        "settings": [
          {
          "type": "product",
          "id": "popup_product",
          "label": "Product-Handle"
          },  
          {
            "type": "checkbox",
            "id": "plus_icon_active",
            "label": "Plus Icon Active",
            "default": false
          },
          {
            "type": "select",
            "id": "pos_x_type",
            "label": "Horizontal Position",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "range",
            "id": "pos_x",
            "min": 0,
            "max": 400,
            "step": 4,
            "label": "Spacing",
            "unit": "px",
            "default": 4
          },
          {
            "type": "select",
            "id": "pos_y_type",
            "label": "Horizontal Position",
            "default": "top",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },

          {
            "type": "range",
            "id": "pos_y",
            "min": 0,
            "max": 400,
            "step": 4,
            "label": "Spacing",
            "unit": "px",
            "default": 4
          }


          
        ]
      }
    ],

        "presets": [
          { 
            "name": "Best Deals"
        }]
}
{% endschema %}
 