<h1>ddd d d{{ article.title}}</h1>
<small>{{ article.author}}</small>

{% schema %}

  {
    "name": "Template Article",
    "settings": [ 
        {
            "type": "checkbox",
            "id": "enable_author",
            "defoult": true,
            "label": "Display Author Name", 
        },
        {
            "type": "checkbox",
            "id": "enable_published_date",
            "defoult": true,
            "label": "Display published Date Name", 
        }
	]

  }
{% endschema %}